@import "../../helpers/variables.scss";
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box !important;
  padding: 1rem;
  background-color: $backgroundColor;
  margin-bottom: 1rem;
}
.nav_title {
  text-decoration: none;
  margin-left: 2rem;
  color: rgba(255, 255, 255, 0.847);
  font-weight: bold;
  font-size: 1.5rem;
}
.nav_icons {
  width: 10%;
  margin-right: 2rem;
  display: flex;
  justify-content: space-around;
}
